.snake-game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.score {
  position: absolute;
  top: 60px;
  right: 180px;
  font-size: 20px;
  color: rgb(16, 16, 16);
}

.game-board {
  position: relative;
  width: calc(60 * 20px); /* Assuming COLS = 60 and CELL_SIZE = 20px */
  height: calc(30 * 20px); /* Assuming ROWS = 30 and CELL_SIZE = 20px */
  border: 1px solid black;
  background-color: rgb(0, 0, 0);
}

.snake-segment {
  width: 20px;
  height: 20px;
  background: linear-gradient(135deg, #2ecc71, #27ae60); 
  position: absolute;
  border-radius: 50%;
  border: 2px solid #010000; 
  box-shadow: 0 0 10px rgba(0, 255, 0, 0.5); 
  animation: pulse 0.9s infinite alternate; /* Animation for pulsating effect */
}

@keyframes pulse {
  0% {
      transform: scale(1);
  }
  100% {
      transform: scale(1.1);
  }
}

.food {
  width: 20px; /* Assuming CELL_SIZE = 20px */
  height: 20px; /* Assuming CELL_SIZE = 20px */
  background-color: red;
  position: absolute;
}

.results-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(149, 135, 135, 0.8);
  padding: 30px;
  border-radius: 20px;
  color: white;
  text-align: center;
}

.results-popup p {
  font-size: 30px;
  margin: 0;
}

.action-button {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
  margin-right: 10px;
  font-size: larger;
}


